<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>D:\StUdY\Z Projects\Water Bottle Management System\dist\Water_Bottle_Management_System.jar</jar>
  <outfile>D:\StUdY\Z Projects\Water Bottle Management System\dist\Water Bottle Management System.exe</outfile>
  <errTitle>My awesome Program needs to java, Please Install Java First</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl>http://java.com/download</downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <singleInstance>
    <mutexName>Water Bottle System</mutexName>
    <windowTitle>Water Bottle System</windowTitle>
  </singleInstance>
  <jre>
    <path></path>
    <bundledJre64Bit>false</bundledJre64Bit>
    <bundledJreAsFallback>false</bundledJreAsFallback>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
    <jdkPreference>preferJre</jdkPreference>
    <runtimeBits>64/32</runtimeBits>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>Water Bottle Manegement System</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>Water Bottle Manegement System</productName>
    <companyName>Genuine Codes</companyName>
    <internalName>Water Bottle Manegement System</internalName>
    <originalFilename>Water Bottle Manegement System.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>